.projects
    h2 Projects
    p in this app i am using angular v 7 with angular material
    div(class="slider-container")
        div(class="slide cv") 
            img( src="assets/images/cv/cv-home-with-navbar.png", alt='login page', style="width:100%; min-height:100%;")
        div(class="slide cv") 
            img( src="assets/images/cv/cv-project.png", alt='register page',style="width:100%; min-height:100%;")
        div(class="slide cv") 
            img( src="assets/images/cv/cv-see-image.png", alt='yoda home page',style="width:100%; min-height:100%;")
        div(class="slide cv") 
            img( src="assets/images/cv/cv-shoes-shop.png", alt='yoda home page',style="width:100%; min-height:100%;")
        div(class='slide cv')
            iframe(frameborder,
                    allowfullscreen="allowfullscreen" ,
                    class="iframe",
                    mozallowfullscreen="mozallowfullscreen", 
                    msallowfullscreen="msallowfullscreen", 
                    oallowfullscreen="oallowfullscreen", 
                    src="https://www.youtube.com/embed/S9kgX9EdNkA?autoplay=0&amp;controls=5&amp;showinfo=1&amp;autohide=1", 
                    webkitallowfullscreen="webkitallowfullscreen",
                    style="width:100%;")
        a(class="prev", data='cv') &#10094;
        a(class="next", data='cv') &#10095; 

    h3 Shoes Shop
    p Shoes Shop is my first project using mangodb, express, nodejs, angular and bootstrap
    div(class="project")#shoesShop1
    div(class="slider-container")
        div(class="slide shoes-shop") 
            img( src="assets/images/shoes_shop/login.png", alt='login page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop") 
            img( src="assets/images/shoes_shop/register.png", alt='register page',style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            img( src="assets/images/shoes_shop/home.png", alt='home page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            img( src="assets/images/shoes_shop/contact.png", alt='contact page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            img( src="assets/images/shoes_shop/cart.png", alt='cart page', style="width:100%; min-height:100%;")
        div(class="slide shoes-shop")
            img( src="assets/images/shoes_shop/product-info.png", alt='product information page', style="width:100%; min-height:100%;")
        div(class='slide shoes-shop')
            iframe(frameborder,
                    allowfullscreen="allowfullscreen" ,
                    class="iframe",
                    mozallowfullscreen="mozallowfullscreen", 
                    msallowfullscreen="msallowfullscreen", 
                    oallowfullscreen="oallowfullscreen", 
                    src="https://www.youtube.com/embed/RIcyCrnW154?autoplay=0&amp;controls=5&amp;showinfo=1&amp;autohide=1", 
                    webkitallowfullscreen="webkitallowfullscreen",
                    style="width:100%;")
        a(class="prev", data='shoes-shop') &#10094;
        a(class="next", data='shoes-shop') &#10095; 
    h3 Yoda
    p Yoda is my favorit app in my projects using mangodb, express, nodejs, angular, angular material, and some other module like socket io, passport jwt
    div(class="slider-container")
        div(class="slide yoda") 
            img( src="assets/images/yoda/yoda-login.png", alt='login page', style="width:100%; min-height:100%;")
        div(class="slide yoda") 
            img( src="assets/images/yoda/yoda-register.png", alt='register page',style="width:100%; min-height:100%;")
        div(class="slide yoda") 
            img( src="assets/images/yoda/yoda-home.png", alt='yoda home page',style="width:100%; min-height:100%;")
        div(class='slide yoda')
            iframe(frameborder,
                    allowfullscreen="allowfullscreen" ,
                    class="iframe",
                    mozallowfullscreen="mozallowfullscreen", 
                    msallowfullscreen="msallowfullscreen", 
                    oallowfullscreen="oallowfullscreen", 
                    src="https://www.youtube.com/embed/xIfHikwYUsw?autoplay=0&amp;controls=5&amp;showinfo=1&amp;autohide=1", 
                    webkitallowfullscreen="webkitallowfullscreen",
                    style="width:100%;")
        a(class="prev", data='yoda') &#10094;
        a(class="next", data='yoda') &#10095; 
